:root{
  /* ESTILOS DE LOS COLORES */
  --verde-principal: #13BA41 ;
  --verde-light: #5FE07E ;
  --verde-dark: #079128 ;
  --verde-contenedor-dark: #006633 ;
  --verde-contenedor-light: #D7FFDF ;

  --naranja-principal: #F9A028 ;
  --naranja-light: #FFC37B ;
  --naranja-dark: #D67B0F ;
  --naranja-contenedor-dark: #AD680A ;
  --naranja-contenedor-light: #FFDFB8 ;

  --violeta-principal: #760FF9 ;
  --violeta-light: #A166FF ;
  --violeta-dark: #5713AC ;
  --violeta-contenedor-dark: #3A0C82 ;
  --violeta-contenedor-light: #E2CFFF ;

  --gris-oscuro: #333333;
  --gris-claro: #F4F4F4;
  --gris-form: #AFB1B6;

  --negro: #0D0D0D;
  /* ----------------------------------------------------*/

  /* ESTILOS DE LOS TEXTOS */
  --H-2: 24px;
  --p: 16px;
  --p-small: 14px;
  --botones-chicos: 11px;
  --p-aclaraciones: 12px;
  /* ----------------------------------------------------*/

}


.w-100{
  width: 100%;
}
h2.titulo{
  font-size: var(--H-2);
}
.p-small{
  font-size: var(--p-small)
}
.bg-verde-principal{
  background-color: var(--verde-principal) !important;
}

.bg-violeta-principal{
  background-color: var(--violeta-principal);
}

.bg-violeta-dark{
  background-color: var(--violeta-dark);
}

a.bg-verde-principal:hover {
  background-color: var(--verde-dark);
}

.btn-verde-hover:hover {
  background-color: var(--verde-dark)!important;
}

a.bg-violeta-principal:hover, button.bg-violeta-principal:hover {
  background-color: var(--violeta-dark);
}

.btn-violeta-active:active, .btn-violeta-active:focus, .btn-violeta-active:focus-visible {
  background-color: var(--violeta-light)!important;
}

.bg-gris-form{
  background-color: var(--gris-form) !important;
}

.bg-gris-claro{
  background-color: var(--gris-claro) !important;
}

.bg-blanco{
  background-color: #fff;
}

.redondeo-superior-login{
  border-top-left-radius: 29px !important;
  border-top-right-radius: 29px !important;
}

.bg-conf-icono{
  background-repeat: no-repeat;
  background-size: 23px;
  background-position-y: 9px;
  background-position-x: 15px;
}

.bg-movimiento{
  width: 32px;
  background-image: url('../img/enfasis.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 9px;
}

.bg-location-w{
  width: 32px;
  background-image: url('../img/location.png');
}

.bg-acompaniante{
  background-image: url('../img/acompaniante.png');
}

.bg-andador{
  background-image: url('../img/andador.png');
}

.bg-camina_dificultad{
  background-image: url('../img/camina_dificultad.png');
}

.bg-bastones{
  background-image: url('../img/bastones.png');
}

.bg-muletas{
  background-image: url('../img/muletas.png');
}

.bg-scooter{
  background-image: url('../img/scooter.png');
  background-size: 30px !important;
}

.bg-silla_ruedas_electrica{
  background-image: url('../img/silla_ruedas_electrica.png');
}

.bg-silla_ruedas_manual{
  background-image: url('../img/silla_ruedas_manual.png');
  background-position-y: 12px !important;
}

.bg-login {
  background-image: url('../img/bg-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  margin-top: -1080px;
  z-index: -1;
}

.bg-white-vertical {
  background-color: #fff;
}

.btn-form-w{
  width: 135px;
  height: 52px;
  text-align: right;
  font-size: var(--botones-chicos);
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: none !important; */
}

.btn-check:checked+.btn{
  background-color: var(--violeta-contenedor-light) !important;
}

/* CHECKBOX*/
.form-check-input:checked{
  background-color: var(--naranja-principal);
  border-color: var(--naranja-light);
}

/* INPUT FOCUS*/
.form-check-input:focus, .form-control:focus {
  border-color: var(--naranja-light);
  box-shadow: 0 0 0 0.25rem rgba(255,195,123,.25);
}


.w-standard{
  width: 150px;
}

.buscador-principal{
  height: 52px;
}

/* NAVBAR SUPERIOR*/

.margin-navs {
  margin-top: 90px;
  margin-bottom: 90px;
}
.nav-superior{
  width: 100%;
  height: 63px;
}

.navbar-toggler:focus, .navbar-toggler:focus-visible {
  outline: none;
  box-shadow: none;
}

.footer-nav nav{
  z-index: 10000;
  width: 100%;
  height: 63px;
  background-color: var(--gris-claro);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav nav{
  display: flex;
  width: 100%;
}

.footer-nav nav a {
  position: relative;
  list-style: none;
  width: 70px;
  height: 60px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.footer-nav nav a .icon{
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5rem;
  text-align: center;
  color: var(--gris-oscuro);
}

.footer-nav nav a .text{
  display: none;
  position: absolute;
  color: #fff;
  padding: 2px 7px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.005em;
}

/* .new_place{
  background-color: var(--verde-principal);
  margin-top: -31px;
  height: 75px !important;
  border-radius: 50%;
} */

.footer-nav nav .new_place .text{
  color:#fff;
}
